/*Yep i like the syntax of C# and javascript etc ^^*/

html
{
	scroll-behavior: smooth;
}

body
{
	padding: 0;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdan, sans-serif;
}

header
{
	margin-top: 24;
	margin-bottom: 24;
}

.mitte
{
	display: flex;
	justify-content: center;
	algin-items: center;
}

.mitte li
{
	background: rgba(255, 255, 255, 0.3);
	border-radius: 12px;
	margin-left: 5;
	margin-right: 5;
	padding: 5;
}

#teaser
{
	width: 100%;
	height: 300;
}

#teaser img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.MiddleImage
{
	width: 100%;
	height: 150;
}

.MiddleImage img
{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#sticky
{
	position: sticky;
	top: 0;
	backdrop-filter: blur(2px);
	background-color: rgba(255, 255, 255, 0.7)
}
	
#sticky ul li:hover
{
	background-color: rgba(255, 255, 255, 0.7);
	transition: background-color 0.256s;
}

@media screen and (min-width: 800px)
{
	#teaser
	{
		height: 600;
	}

	.MiddleImage
	{
		height: 300;
	}
}

#logo
{
	width: 300;
	height: 40;
}

@media screen and (min-width:600px)
{
	#logo
	{
		width: 600;
		height: 80;
	}
}

footer ul, nav ul, section ul
{
	list-style: none;
	margin: 0;
	padding-top: 7;
	padding-bottom: 7;
	padding-left: 26;
	padding-right: 26;
}

footer ul li a, nav ul li a
{
	font-weight: 600;
	padding: 4;
}

section
{
	max-width: 900;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16;
	padding-right: 16;
}

#contacts_ div img
{
	margin-right: 8;
}

.text
{
	border-radius: 15px;
	padding: 10;
	background-color: rgba(0, 0, 0, 0.06)
}

.text:hover
{
	transition: background-color 0.5s;
	background-color: rgba(0, 0, 0, 0.1)
}

body h2
{
	padding-left: 10;
	padding-right: 10;
}

#cv-container
{
	border: 3px solid #fff;
	padding: 0px;
}

#cv-left
{
	width: 31%;
	float: left;
	padding: 0px;
	border: 2px solid red;
}

#cv-right
{
	width: 67%;
	float: right;
	padding: 0px;
	border: 2px solid red;
	
}

#cv-left p
{
	display: flex;
	justify-content: right;
	margin: 4;
}

#cv-right p
{
	margin: 4;
}

@media screen and (min-width:900px)
{
	#cv-right
	{
		width:587 px;
	}
}

@media screen and (min-width:900px)
{
	#cv-left
	{
		width: 293x;
	}
}
r
